@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.software-skills-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dev-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.software-skill-inline {
  display: flex;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.skill-logo {
  width: 30px; /* Adjusted size */
  height: 30px; /* Adjusted size */
  margin-bottom: 5px; /* Spacing between logo and text */
}

.skill-name {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  bottom: -20px; /* Adjust position as needed */
  background-color: rgba(0, 0, 0, 0.7); /* Background color for better readability */
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9rem; /* Adjust font size as needed */
}

.software-skill-inline:hover .skill-name {
  visibility: visible;
  opacity: 1;
}
.jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Responsive adjustments */
@media (min-width: 576px) {
  .skill-logo {
    width: 35px;
    height: 35px;
  }

  .skill-name {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .skill-logo {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .skill-logo {
    width: 45px;
    height: 45px;
  }

  .skill-name {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .skill-logo {
    width: 50px;
    height: 50px;
  }

  .skill-name {
    font-size: 1.3rem;
  }
}