@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo,'JetBrains Mono', Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
/* index.css */

/* Global styles */
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  cursor: url('https://i.pinimg.com/originals/b0/a5/c9/b0a5c97aa78b746a003c36cc8bf593e3.png'), auto; /* Change the cursor to a custom image */
}

code {
  font-family: source-code-pro, Menlo, 'JetBrains Mono', Monaco, Consolas, "Courier New", monospace;
}

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f1923;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 70, 85, 0.7);
  border-radius: 10px; 
  border: 3px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 70, 85, 0.9);
}

/* Apply predefined cursor styles */
a {
  cursor: pointer; 
}

button {
  cursor: pointer;
}

/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: rem;
    line-height: normal;
  }
}
